[project]
name = "ratescan"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.13"
dependencies = [
    "httpx>=0.28.1",
    "loguru>=0.7.3",
    "pydantic>=2.12.5",
    "pymongo>=4.16.0",
    "pypdf>=6.6.2",
    "typer>=0.21.1",
]
